:root {
  /* Font Family */
  --ff--heading: "Poppins", sans-serif;
  --ff--primary: "Open Sans", sans-serif;

  /* Font Weight */
  --fw--primary-bold: 400;
  --fw--primary-very-bold: 700;
  --fw--heading-bold: 600;

  /* Font Size */
  --fs--regular: 18px;
}
