.huddle__main {
  display: grid;

  h1,
  h2 {
    font-family: var(--ff--heading);
  }

  .btn-getstarted {
    background-color: var(--clr--pink);
    color: var(--clr--white);
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    margin-inline: 1.5rem;
    font-weight: var(--fw--primary-very-bold);
  }

  &_header,
  &_body,
  &_footer {
    display: grid;
    justify-content: center;
  }

  &_header > *,
  &_body > *,
  &_footer > * {
    max-width: 600px;
  }

  &_header {
    gap: 1.5rem;
    background: var(--clr--very-pale-cyan) url("/images/bg-hero-mobile.svg")
      no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 2rem;
    text-align: center;

    &_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      img {
        width: 110px;
        height: 20px;
      }
      button {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 38px,
          var(--clr--very-pale-cyan) 0px 15px 12px;
        font-weight: var(--fw--primary-very-bold);
        border: none;
        padding: 0.3rem;
        padding-inline: 1.2rem;
        border-radius: 1rem;
      }
    }
    &_body {
      display: grid;
      gap: 2rem;
      &_info {
        display: grid;
        gap: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
  &_body {
    gap: 2rem;
    padding: 2rem 1rem;
    text-align: center;

    article > div {
      padding-inline: 2rem;
      display: grid;
      gap: 1rem;
      img {
        margin: 5rem 0;
      }
      h2 {
        font-size: 1.5rem;
      }
      p {
        color: var(--clr--grayish-blue);
      }
    }
    &_form {
      position: relative;
      margin-top: 3rem;
      background-color: var(--clr--white);
      padding: 3rem 0.7rem;
      margin-bottom: -110px;
      border-radius: 1.5rem;

      h2 {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
      }
      .btn-getstarted {
        padding: 1rem 2.5rem;
        font-size: 0.9rem;
      }
    }
  }

  &_footer {
    background-color: var(--clr--very-dark-cyan);
    color: var(--clr--white);
    &_info {
      display: grid;
      gap: 1rem;
      padding: 3rem 1rem;
      padding-top: 10rem;
      &_contacts {
        display: grid;
        gap: 2rem;
        .flex-group-1,
        .flex-group-2,
        .flex-group-3 {
          display: flex;
          img {
            flex-shrink: 0;
            width: 28px;
            height: 30px;
            margin-right: 2rem;
            align-self: flex-start;
          }
        }
        .flex-group-1 {
          img {
            margin-top: 8px;
            width: 25px;
          }
        }
      }
      ul {
        display: grid;
        gap: 1rem;
        margin-top: 3rem;
      }

      .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        a {
          text-decoration: none;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            color: var(--clr--white);
            height: 38px;
            width: 38px;
            border-radius: 38px;
            border: 1px solid var(--clr--white);
          }
        }
      }
    }
    .copy-right {
      text-align: center;
      font-size: 0.8rem;
    }
  }
  footer {
    background-color: var(--clr--very-dark-cyan);
  }

  @media only screen and (min-width: 992px) {
    &_header > *,
    &_body > *,
    &_footer > *,
    &_form > * {
      max-width: 1200px;
    }

    &_header {
      background: var(--clr--very-pale-cyan) url("/images/bg-hero-desktop.svg")
        no-repeat;
      background-position: center;
      background-size: contain;
      padding: 3.5rem 0;

      &_nav {
        width: 100%;
        img {
          width: 190px;
          height: 35px;
        }
        button {
          font-size: 1rem;
          width: 200px;
          padding: 0.5rem;
        }
      }
      &_body {
        display: flex;
        gap: 0;

        &_info {
          grid-auto-rows: min-content;
          flex: 0 1 550px;
          text-align: left;
          padding-inline: 2rem;
          margin-top: 2.5rem;
          h1 {
            font-size: 2.5rem;
          }
          .btn-getstarted {
            font-size: 1rem;
            margin: 0;
            max-width: 300px;
            height: 50px;
            padding: 0;
          }
        }
        &_img {
          flex: 0 1 650px;
        }
      }
    }

    &_body {
      h2 {
        font-size: 2rem !important;
      }
      &_grow,
      &_flow,
      &_users {
        &_content {
          grid-template-columns: 1fr 1fr;
          column-gap: 6rem !important;
          align-items: center;
          text-align: left;

          > div {
            display: grid;
            gap: 1.5rem;
          }
          div:nth-of-type(1) {
            order: 1;
          }
          div:nth-of-type(2) {
            order: 2;
          }
        }
      }
      &_grow,
      &_users {
        &_content {
          div:nth-of-type(1) {
            order: 2;
          }
          div:nth-of-type(2) {
            order: 1;
          }
        }
      }
      &_form {
        width: 100%;
        justify-self: center;
        max-width: 900px;
      }
    }

    &_footer {
      &_info {
        display: flex;
        gap: 5rem;
        max-width: 1200px;
        > * {
          flex: 1;
        }
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-content: flex-start;
          margin-top: 4rem;
          row-gap: 1rem;
        }
        .social-media {
          align-items: flex-start;
          margin-top: 4rem;
        }
      }
      .copy-right {
        display: grid;
        justify-content: flex-end;
      }
    }
  }
}
