.huddle__main {
  h1,
  h2 {
    font-family: var(--ff--heading);
  }

  .btn-getstarted {
    background-color: var(--clr--pink);
    color: var(--clr--white);
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    margin-inline: 1.5rem;
    font-weight: var(--fw--primary-very-bold);
  }
  &_header {
    display: grid;
    gap: 1.5rem;
    background: var(--clr--very-pale-cyan) url("/images/bg-hero-mobile.svg")
      no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 2rem;
    text-align: center;

    &_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      img {
        width: 110px;
        height: 20px;
      }
      button {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 38px,
          var(--clr--very-pale-cyan) 0px 15px 12px;
        font-weight: var(--fw--primary-very-bold);
        border: none;
        padding: 0.3rem;
        padding-inline: 1.2rem;
        border-radius: 1rem;
      }
    }
    &_body {
      display: grid;
      gap: 2rem;
      &_info {
        display: grid;
        gap: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
  &_body {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    padding: 2rem 1rem;
    text-align: center;

    article > div {
      padding-inline: 2rem;
      display: grid;
      gap: 1rem;
      img {
        margin: 5rem 0;
      }
      h2 {
        font-size: 1.5rem;
      }
      p {
        color: var(--clr--grayish-blue);
      }
    }
  }
  &_form {
    margin-top: 3rem;
    background-color: var(--clr--white);
    padding: 3rem 0.7rem;
    margin-bottom: -25%;
    border-radius: 1.5rem;
  }

  &_footer {
    padding: 3rem 1rem;
    padding-top: 10rem;
    background-color: var(--clr--very-dark-cyan);
  }
}
